@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {  
    overflow-x: hidden;
    margin: 1; 
    padding: 0; 
    height: 100vh;
    width: 100vw;   
    background-image: url('./img/fundoPortfolio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;  
}

#fundoBranco{
    position: absolute;
    top: 19%;
    left: 5%;
    z-index: 0;
}

#nome {
    font-family: Poppins;
    position:absolute;
    left: 5%;
    top: 0%;
    z-index: 2;
}       

#sobre {
    font-family: Poppins;
    font-size: 1cm;
    text-align:center;
    position:absolute;
    top: 56%;
    left: 7%;
    z-index: 2;
}

#foto {
    position:absolute;
    top: 21%;
    left: 21%;
    z-index: 1;
    
}

#skills {
    font-family: Poppins;
    position:absolute;
    top: 100%;
    z-index: 2;
}

#blog {
    position:absolute;
    top: 150%;
    z-index: 2;
}

#indice {
    font-family: Poppins;
    letter-spacing: 3px;
    position:absolute;
    font-size: 100%;
    top: 2%;
    left: 70%;
    z-index: 2;
}

    



